[Desktop Entry]
Icon=text-html
Type=Link
URL[$e]=https://towardsdatascience.com/computer-vision-a-journey-from-cnn-to-mask-r-cnn-and-yolo-part-2-b0b9e67762b1#:~:text=YOLO- You Only Look Once,and where they are present.
