[Desktop Entry]
Icon=text-html
Type=Link
URL[$e]=https://learnopencv.com/number-of-parameters-and-tensor-sizes-in-convolutional-neural-network/#:~:text=In a CNN%2C each layer,weights of the Conv Layer.
